/********************************************************
 ------------------ ABOUT -------------------------------
********************************************************/
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-content {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 40px;
  justify-content: center;
  padding-bottom: 90px;
}
.about-content-text{display: flex;
  justify-content: center;
  align-items: center;
  
}
.slideshow-container {
  position: relative;
  width: auto;
  /* max-width: 550px; */
  /* min-height: 650px; */
  height: 550px;
  border-radius: 8px;
  overflow: hidden;
}
.slideshow-container img {
  position: absolute;
  width: auto;
  height: 100%;
  box-shadow: 2px 4px 8px var(--dark);
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.slideshow-container img:nth-child(1) {
  animation: fade 12s infinite;
}
.slideshow-container img:nth-child(2) {
  animation: fade 12s infinite 3s;
}
.slideshow-container img:nth-child(3) {
  animation: fade 12s infinite 6s;
}
.slideshow-container img:nth-child(4) {
  animation: fade 12s infinite 9s;
}
.about-btn {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 5px;
  justify-content: center;
}
