#news-blog {
  background-image: url(../images/statute-background.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.news-blog {
  padding-top: 120px;
  padding-bottom: 60px;
}
#blog-posts {
  margin-top: 0;
  padding-top: 0;
  min-width: 1200px;
  width: 100%;
}
.blog-post {
  width: 100%;
  padding-bottom: 60px;
}
.blog-post:last-child {
  padding-top: 0;
  margin-top: 0;
  border-bottom: none;
}
.blog-post p {
  padding-top: 0;
  margin-top: 0;
  color: var(--dark);
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}
