:root {
  --dark: #1a1611;
  --darkest-pink: #be0747;
  --pink: #e34f83;
  --dark-pink: #d16b8d;
  --powder-pink: #dfada8;
  --light-beige: #fff8f0;
  --gold: #d4b484;
  --light-grey: #f1ebe4;
  --black: #000;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--light-beige);
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }
}
a {
  text-decoration: none;
  color: var(--dark);
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}
ul {
  list-style: none;
}
p {
  color: var(--dark);
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}
h1 {
  color: var(--dark);
  font-weight: 600;
  font-size: 32px;
  margin-top: 0;
  text-align: center;
}
h2 {
  color: var(--dark-pink);
  font-weight: 600;
  font-size: 32px;
  margin-top: 0;
  text-align: center;
  padding-bottom: 20px;
}
h3 {
  color: var(--dark-pink);
  font-weight: 600;
  font-size: 24px;
  margin-top: 0;
}
h4 {
  color: var(--dark);
  font-weight: 600;
  font-size: 20px;
  margin-top: 0;
  line-height: 30px;
}
button {
  padding-top: 50px;
  text-align: center;
  border-radius: 50px;
  border: none;
  text-decoration: none;
  padding: 10px 30px;
  color: var(--light-beige);
  background-color: var(--dark-pink);
  box-shadow: 2px 4px 8px var(--dark);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 40px;
}
button:hover {
  transform: translateY(4px);
  background-color: var(--gold);
}

/********************************************************
 ------------------ HEADER ------------------------------
********************************************************/
header {
  background-color: var(--powder-pink);
  width: 100%;
}
.header {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header nav a {
  transition: transform 0.3s ease-in-out;
  position: relative;
  padding: 0px 10px;
}
.header nav a:hover,
.header nav a:focus {
  color: var(--darkest-pink);
  transform: scale(1.08);
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
.is-active {
  color: var(--pink);
  text-decoration: underline;
  padding: 10px;
}
/********************************************************
 ------------------ HEADER MOBILE -----------------------
********************************************************/
.menu-toggle {
  display: flex;
  margin-right: 8px;
  background: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
/* .hamburger-icon {
  /* max-width: 40px;
  max-height: 40px; */
/*fill: var(--pink);
  color: var(--pink);
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .hamburger-icon:hover,
.hamburger-icon:focus {
  fill: var(--darkest-pink);
  color: var(--green);
} */
.menu-toggle svg {
  color: var(--dark);
}
.menu-toggle svg:hover,
.menu-toggle svg:focus {
  color: var(--pink);
}
.menu-container {
  position: fixed;
  right: 6px;
  top: 8px;
  width: 60vw;
  height: 80vh;
  padding-left: 20px;
  border-radius: 8px;
  background-color: var(--light-beige);
  box-shadow: -2px 4px 8px var(--dark);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  visibility: hidden;
}

.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  background-color: var(--light-beige);
  color: var(--pink);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
  background-color: var(--powder-pink);
  fill: var(--light-beige);
}
.mobile-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.menu-mobile {
  padding: 0;
  margin-top: 80px;
}
.menu-mobile a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.71;
  letter-spacing: 0.72px;
  color: var(--dark);
  padding-bottom: 6px;
}
.menu-mobile a:hover,
.menu-mobile a:focus {
  color: var(--darkest-pink);
  text-decoration: underline;
}

.button-close svg {
  color: var(--light);
}
/********************************************************
 ------------------ HERO --------------------------------
********************************************************/
#hero {
  background: linear-gradient(to bottom, #dfada8 0%, #eac2b8 50%, #fff8f0 100%);
}
.hero {
  padding-top: 16px;
  padding-bottom: 78px;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 20px;
  justify-content: space-between;
}
.hero-content {
  width: 100%;
  margin-top: 24px;
  place-items: center;
  gap: 20px;
  display: grid;
}
.hero-img img {
  width: 100%;
  max-width: 480px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px var(--dark);
}
/********************************************************
 ------------------ SERVICES ----------------------------
********************************************************/
.services {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  gap: 40px;
  justify-content: space-between;
}
.services img {
  width: 100%;
  max-width: 480px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px var(--dark);
}
.services p {
  padding-bottom: 16px;
}
.services ul {
  color: var(--dark);
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}
#check {
  fill: var(--darkest-pink);
}
.services a {
  display: grid;
  margin-top: 38px;
  place-items: center;
}
/********************************************************
 ------------------ GALLERY -----------------------------
********************************************************/
.gallery {
  padding-top: 120px;
}
.latest-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}
.latest-gallery-item img {
  width: 320px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 4px 8px var(--dark);
}
.latest-gallery-item img:hover {
  transform: scale(1.05);
}
.gallery a {
  display: grid;
  margin-top: 38px;
  place-items: center;
}
/********************************************************
 ------------------ OPINION -----------------------------
********************************************************/
.opinion {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  gap: 40px;
  justify-content: space-between;
}
.opinion img {
  width: 100%;
  max-width: 380px;
  border-radius: 500px;
  box-shadow: 2px 4px 8px var(--dark);
}
.carousel {
  position: relative;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
}
.carousel img {
  width: 100%;
  max-width: 780px;
  border-radius: 0px;
  box-shadow: none;
}
.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.carousel-slide {
  min-width: 100%;
}
.carousel-slide img {
  width: 100%;
  display: block;
}

.carousel-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.arrow {
  background-color: transparent;
  color: var(--dark-pink);
  box-shadow: none;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
}
.arrow:hover,
.arrow:focus {
  background-color: transparent;
  color: var(--dark-pink);
  box-shadow: none;
}
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}
.dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: var(--powder-pink);
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 50px;
}
.dot.active {
  background-color: var(--dark-pink);
}
/********************************************************
 ------------------ NEWS --------------------------------
********************************************************/
.news {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 40px;
  justify-content: space-between;
}
.news img {
  width: 100%;
  max-width: 480px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px var(--dark);
}
.news a {
  color: var(--dark-pink);
  display: grid;
  margin-top: 18px;
  place-items: right;
  text-align: right;
}
.news a:hover,
.news a:focus {
  color: var(--darkest-pink);
}
/********************************************************
 ------------------ CONTACT -----------------------------
********************************************************/
.contact-content {
  padding-top: 120px;
  padding-bottom: 120px;
}
.contact {
  display: grid;
  grid-template-columns: 0.55fr 0.45fr;
  gap: 40px;
  justify-content: space-between;
}
.contact img {
  width: 100%;
  max-width: 680px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px var(--dark);
}
.contact-text {
  padding-top: 20px;
}
.contact a {
  color: var(--dark-pink);
  display: grid;
  margin-top: 18px;
  place-items: center;
  text-align: center;
}
#phone:hover,
#phone:focus,
#phone p:hover,
#phone p:focus {
  color: var(--darkest-pink);
  fill: var(--darkest-pink);
}
#phone p {
  color: var(--dark);
  padding-left: 8px;
  margin-bottom: 12px;
}
#phone {
  margin-bottom: 12px;
  margin-top: -3px;
  fill: var(--dark);
  display: inline-flex;
}
.contact button {
  place-items: center;
  text-align: center;
  margin-top: 12px;
}
.contact-sm {
  margin-top: -12px;
  display: inline-flex;
  padding-left: 46px;
  justify-content: left;
}
.contact-sm svg {
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}
.contact-sm svg:hover,
.contact-sm svg:focus {
  transform: scale(1.08);
}
/********************************************************
 ------------------ FOOTER ------------------------------
********************************************************/
footer {
  background-color: var(--powder-pink);
  width: 100%;
  padding-top: 40px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}
.footer-menu ul {
  margin: 0;
  width: 100%;
  padding: 0;
}
.footer-menu {
  padding-top: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer-navi {
  text-align: right;
}
.footer-menu a {
  font-size: 15px;
}
.footer-menu a:hover {
  color: var(--pink);
  text-decoration: underline;
}
.footer-text {
  line-height: 26px;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 46px;
  padding-right: 66px;
  padding-bottom: 24px;
}
#tel p {
  line-height: 26px;
  font-size: 15px;
  padding-left: 46px;
  padding-right: 66px;
  padding-bottom: 14px;
}
.footer-sm {
  display: inline-flex;
  padding-left: 46px;
  justify-content: left;
}
#sm {
  fill: var(--darkest-pink);
  margin-right: 20px;
}
#tel p {
  color: var(--darkest-pink);
  padding-left: 8px;
  margin-top: -3px;
}
#tel {
  fill: var(--darkest-pink);
  padding-left: 10px;
  display: inline-flex;
}
#sm:hover,
#sm:focus {
  fill: var(--pink);
}
#tel:hover,
#tel:focus {
  fill: var(--pink);
}
#tel p:hover,
#tel p:focus {
  color: var(--pink);
}
.footer-copyright p {
  text-align: center;
  font-size: 14px;
  color: var(--dark);
}
.footer-copyright a {
  font-size: 14px;
  color: var(--darkest-pink);
}
.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--pink);
}
/********************************************************
 ------------------ POP-UP ------------------------------
********************************************************/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.502);
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: var(--light-beige);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
  box-shadow: 2px 4px 8px var(--dark);
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.close-btn:focus,
.close-btn:hover {
  color: var(--darkest-pink);
}
